@import "../styles.less";

.navbar, .dropdown-toggle, .dropdown-menu {
    background: @primary-light-color;
    font-size: 1.05em;
}

.nav > li > a.is-active {
    background: @primary-color;
    color: @primary-light-color;
}

.navbar-toggle, .collapsed, .navbar-toggle:focus, .dropdown-menu {
    background: @primary-light-color;
    color: @primary-color;
    border: @primary-light-color;
}

.nav > li > a, .navbar-brand, .dropdown-menu > li > a {

    color: @primary-color;
    
    &:hover {
        background: @primary-color;   
        color: @primary-light-color;     
    }
}

a[hidden] {
    display: none;
}

.open {
    background: @primary-light-color;
    color: @primary-color;
    border: @primary-light-color;
}

.dropdown-menu > li > a {
    padding: 15px;
    line-height: 20px;
}

.glyphicon {
    padding-right: 5px;
}