<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
          <a [routerLink]="['/weddings']" [routerLinkActive]="['is-active']">Weddings</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <hr>
        </li>
      </ul>
      <app-account-menu></app-account-menu>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>