<div class="container">
    <h1>{{pageTitle}}</h1>
    <div class="button-group">
        <a href="/new-event" class="btn btn-primary">Add New Event</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of columns">{{col}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events" (click)="showDetails(event.id)" class="selectable">
                    <td>{{event.name}}</td>
                    <td>{{event.eventDate}}</td>
                    <td>{{event.createdByName}}</td>
                    <td>{{event.createdAt}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
