<div class="container yid-form">
  <h1>{{pageTitle}}</h1>
  <form id="create-event-form">
    <div class="form-group">
      <label for="event-name">Event Name:</label>
      <input [(ngModel)]="event.name" type="text" class="form-control" id="event-name" name="eventName">
    </div>
    <!-- <div class="form-group">
      <label for="event-date">Event Date:</label>
      <input [(ngModel)]="event.eventDate" type="text" class="form-control" id="event-date" name="eventDate">
    </div> -->
    <app-date-picker [labelName]="eventDateFormLabel"></app-date-picker>
    <div class="form-group">
      <label for="event-time">Event Time:</label>
      <input [(ngModel)]="event.eventTime" type="email" class="form-control" id="event-time" name="eventTime">
    </div>
  
  </form>
  <div class="form-footer">
    <div class="form-buttons">
      <button type="button" class="btn btn-link" (click)="onCancelClicked()">Cancel</button>
      <a type="button" class="btn btn-primary" (click)="onSave()">Save</a>
    </div>
  </div>
</div>>