<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <label for="dp">{{labelName}}</label>
      <div class="date-picker">
        <input class="form-control"
               placeholder="{{defaultDate}}"
               name="dp"
               [(ngModel)]="selectedDate"
               (focus)="d.toggle()"
               minDate="{{minDate}}"
               ngbDatepicker
               #d="ngbDatepicker">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary glyphicon glyphicon-th"
                  (click)="d.toggle()"
                  type="button">
          </button>
        </span>
      </div>
    </div>
  </div>
</form>