<div class="container yid-form">
  <h1>{{pageTitle}}</h1>
  <form id="create-wedding-form">
    <div class="form-group">
      <label for="wedding-name">Event Name:</label>
      <input [(ngModel)]="wedding.name" type="text" class="form-control" id="wedding-name" name="weddingName">
    </div>
    <!-- <div class="form-group">
      <label for="wedding-date">wedding Date:</label>
      <input [(ngModel)]="wedding.weddingDate" type="text" class="form-control" id="wedding-date" name="weddingDate">
    </div> -->
    <!-- <app-date-picker [labelName]="weddingDateFormLabel"></app-date-picker> -->
    <div class="form-group">
      <label for="wedding-time">Wedding Time:</label>
      <input [(ngModel)]="wedding.weddingTime" type="email" class="form-control" id="wedding-time" name="weddingTime">
    </div>

  </form>
  <div class="form-footer">
    <div class="form-buttons">
      <button type="button" class="btn btn-link" (click)="onCancelClicked()">Cancel</button>
      <a type="button" class="btn btn-primary" (click)="onSave()">Save</a>
    </div>
  </div>
</div>>