<div class="container">
  <h1>{{pageTitle}}</h1>
  <div *ngIf="weddingsCount" class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wedding of weddings" (click)="showDetails(wedding.id)" class="selectable">
          <td>{{wedding.name}}</td>
          <td>{{wedding.weddingDate}}</td>
          <td>{{wedding.createdByName}}</td>
          <td>{{wedding.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!weddingsCount">
    You don't have any wedding day set up yet. You can add your wedding day below.
    <div id="add-wedding-button" class="button-group">
      <a href="/new-wedding" class="btn btn-primary">Add Wedding Day</a>
    </div>
  </div>
</div>