<div class="container yid-form">
    <h1>{{pageTitle}}</h1>
    <form id="login-form">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input [(ngModel)]="user.password" type="password" class="form-control" id="pwd" name="password">
        </div>
    </form>
    <div class="form-footer">
        <div class="form-buttons">
            <button type="button" class="btn btn-link" (click)="onCancelClicked()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
        <div class="form-group">
            <!-- <div class="col-sm-offset-2 col-sm-10"> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me</label>
                </div>
            <!-- </div> -->
        </div>
    </div>    
</div>