/* You can add global styles to this file, and also import other style files */
// @primary-color: #3EA681;
// @primary-light-color: #DBEDE7;

// @secondary-color: #4373A0;
// @secondary-light-color: #DCE4EB;

// @light-green-color: #87D951;
// @light-light-green-color: #EDF8E6;

// @text-color: #000;

// @small-screen: ~"only screen and (max-width: 320px)";
// @medium-screen: ~"only screen and (min-width: 320px) and (max-width: 768px)";
// @large-screen: ~"only screen and (min-width: 768px)";

@import 'variables.less';

.form-buttons {
    float: right;
}

.btn-primary {
    background-color: @primary-color;
    color: @primary-light-color;
    padding: 10px 15px;
    border-color: @primary-color;

    &:hover, &:active, &:focus {
        background-color: @primary-light-color;
        border-color: @primary-light-color;
        color: @primary-color;
        box-shadow: none;
    }
}

.btn-link, a {
    color: @secondary-color;

    &:hover, &:active, &:focus {
        color: #81a6ca;
        text-decoration: none;
    }
}

.form-footer {
    padding: 10px 0 0 0;
}

.container {
    margin: 5% 2%;
    padding: 2%;
    width: 95%;
    float: left;
    overflow-x: hidden;

    @media @small-screen, @medium-screen {
        margin: 15% 2%;
    }
}

.yid-form {
    max-width: 600px;
    // text-align: center;
    margin: 5% auto;
    float: none;
    display: block;
    position: relative;
}

hr {
    display: block;
    margin: 0;
    padding: 0;
    border-color: @primary-color;
}

.table-responsive {
    width: 100%;
    border: 0;
}

table {
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
}