@primary-color: #3EA681;
@primary-light-color: #DBEDE7;

@secondary-color: #4373A0;
@secondary-light-color: #DCE4EB;

@light-green-color: #87D951;
@light-light-green-color: #EDF8E6;

@text-color: #000;

@small-screen: ~"only screen and (max-width: 320px)";
@medium-screen: ~"only screen and (min-width: 320px) and (max-width: 768px)";
@large-screen: ~"only screen and (min-width: 768px)";