<div class="container yid-form">
    <h1>{{pageTitle}}</h1>
    <form id="registration-form">
        <div class="form-group">
            <label for="first-name">First Name:</label>
            <input [(ngModel)]="user.firstName" type="text" class="form-control" id="first-name" name="firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name:</label>
            <input [(ngModel)]="user.lastName" type="text" class="form-control" id="last-name" name="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input [(ngModel)]="user.password" type="password" class="form-control" id="pwd" name="pwd">
        </div>
        
    </form>
    <div class="form-footer">
        <div class="form-buttons">
            <button type="button" class="btn btn-link" (click)="onCancelClicked()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onRegister()">Register</button>
        </div>
        <div class="form-group">
            <p>Already has an account?
                <a href="/login">Click here to log in.</a>
            </p>
        </div>
    </div>
</div>