<ul class="nav navbar-nav navbar-right">
  <li>
    <a [routerLink]="['/register']"
       [routerLinkActive]="['is-active']"
       [hidden]="currentUser">
      <span class="glyphicon glyphicon-user"></span> Sign Up</a>
  </li>
  <li>
    <a [routerLink]="['/login']"
       [routerLinkActive]="['is-active']"
       [hidden]="currentUser">
      <span class="glyphicon glyphicon-log-in"></span> Login</a>
  </li>
  <li>
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       [hidden]="!currentUser">
      <span class="glyphicon glyphicon-user"></span> Account
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#">
          <span class="glyphicons glyphicons-settings"></span> Settings
        </a>
      </li>
      <li>
        <a href="#"
           (click)="logOut()">
          <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
      </li>
    </ul>
  </li>
</ul>