@import '../../../variables.less';

.navbar-toggle, .collapsed, .navbar-toggle:focus, .dropdown-menu {
    background: @primary-light-color;
    color: @primary-color;
    border: @primary-light-color;
}

.nav > li > a, .navbar-brand, .dropdown-menu > li > a {

    color: @primary-color;
    
    &:hover {
        background: @primary-color;   
        color: @primary-light-color;     
    }
}

.dropdown-menu > li > a {
    padding: 15px;
    line-height: 20px;
}

.glyphicon {
    padding-right: 5px;
}